*{
	margin: 0px;
	width: 100%;
}
#div1>img{
	width: 100%;
}

#div2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#div2>img{
	width: 20%;
	align-c:center;
}

#div3_top{
	width: 100%;
	align-items:center;
}
#div3_top>img{
	width: 100%;
	align-items:center;
}

#div3_body{
	display: flex;
	width: 100%;
	align-items:center;
}
#div3_body>div{
	width: 33%;
	align-items:center;
}
#div3_body>div>img{
	width: 100%;
	align-items:center;
}

#div4 div{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#div4{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
#div4_top{
	width: 100%;
	align-items:center;
}
#div4_body{
	top: 30%;
	width: 92%;
	position:absolute;
	align-items:center;
}
#div4_body>div{
	width: 25%;
	align-items:center;
}
.div4_body_img{
	width: 50%;
	align-items:center;
	
}


#div5 div{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#div5{
	width: 100%;
	position: relative;
}
#div5_top{
	width: 92%;
	align-items:center;
}

#div5_body>div{
	border: solid white 3px;
	width: 30%;
	align-items:center;
}
	

#div5_body{
	top: 30%;
	position: absolute;
	align-items:center;
}
.div5_body_img{
	width: 65%;
	align-items:center;
}
#div5_foot{
	width: 100%;
	border:0px;
	top: 70%;
	position: absolute;
	align-items:center;
}
#div5_foot>div{
	border:solid 10px transparent;
	width: 25%;
	align-items:center;
/*	background-color: white;*/
}

#div6{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#div6_body{	
	width: 92%;
	align-items:center;
}
#div6_body>img{
	border-radius: 5%;
	align-items:center;
}
